@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-colorBlue: #007bff;
  --color-colorWhite: #ffffff;
  --color-colorBlack: #000000;
  --color-colorGray: #959595;
  --color-colorGrayLight: #f3f3f3;
  --color-colorOrange: #ec5708;
  
  /* System colors */
  /* --color-background: #ffffff;
  --color-foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  @theme {
    /* --color-background: #0a0a0a;
    --color-foreground: #ededed; */
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}