@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-colorBlue: #007bff;
  --color-colorBlueLight: #eff6ff;
  --color-colorWhite: #ffffff;
  --color-colorBlack: #000000;
  --color-colorGray: #959595;
  --color-colorGrayLight: #f3f3f3;
  --color-colorOrange: #ec5708;
  --color-colorOrangeLight: #FFF1E9;
  --color-colorBeige: #f8f3e9;
  --color-colorYellowWarning: #eab308;
  --color-colorYellowLight: #fefce8;
  --color-colorRedError: #ef4444;
  --color-colorRedLight: #fef2f2;
  --color-colorBlueLight: #f5f8fb;

  --color-colorGreenSuccess: #22c55e;
  --color-colorGreenLight: #f0fdf4;
  
  
  
    /* System colors */
    /* --color-background: #ffffff;
  --color-foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  @theme {
    /* --color-background: #0a0a0a;
    --color-foreground: #ededed; */
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}